
/* The switch - the box around the slider */
.switchy {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switchyt input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #CE3142;;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #CE3142;;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.submit {
    background-color: #CE3142;
    color: white;
    /* font-weight: bold; */
    border-radius: 40px;
    border:10px solid #CE3142;;
    margin-top: 60px;
    font-size: 1.2em;
    text-align: center;
    margin-left: 40%;
    cursor: pointer;
    width: 40%;
}

.twoForm {
    display: flex;
    flex-direction: column;
}
.form {
    width: 100%;
    /* margin-top: 20px; */
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box {
    display:flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 10px;
    align-items: center;
    font-size: 1.2em;
}