main {
    width: 100%;
    display: grid;
    grid-template-columns: auto 900px auto;
    grid-template-rows: 50px 100px 300px 1000px; 
    background-color: #F9FAFA;
}

.orderBox {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
    height: 1200px;
    overflow-y: scroll;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 10px #E9E9E9;
}

.orderCard {
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid #E9E9E9;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    padding-bottom: 30px;
}
.statusImg {
    margin-right: 40px;
    width: 40px;
    height: 40px;
}
.number {
    font-size: 1.3em;
    margin-bottom: 3px;
}
.status {
    color: #828585;
    margin-bottom: 3px;
}
.amount {
    display: flex;
    color: #828585;
}
.total:before {
    content: "$ "
}
.time:before {
    content: "．"
}
.help {
    align-self: center;
    margin-left: 50px;
    color: #CE3142;
    border: 0.5px #E9E9E9 solid;
    border-radius: 1px;
    padding: 15px;
    cursor: pointer;
}
.help:hover {
    filter: brightness(70%);
}